.why-foodify {
    text-align: center;
    padding: 50px 20px;
    background:#fff; /* Pink to white gradient */
    color: black;
}

.why-foodify h2 { /*this is the text that says why foodify/* */
    font-size: 28px;
    font-family: 'Abril Fatface', cursive;
    color: black;
    margin-bottom: 40px; /* Increase the bottom margin to add space */
    margin-top: 30; /* Adjust the top margin to move the text higher */
    font-weight:500;
}

.benefits-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.benefit {
    text-align: center;
    max-width: 250px;
}

.benefit i {
    font-size: 30px;
    color: #ff4d4d;
    margin-bottom: 10px;
}

.benefit h3 {
    font-size: 18px;
    font-weight: bold;
}

.benefit p {
    font-size: 14px;
    color: #555;
}

.foodify-philosophy {
    text-align: center;
    padding: 40px 20px;
    background:#fff; /* White to pink gradient */
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.foodify-philosophy h2 { /*this is the text that says delicious recipes that inspire/* */
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 10px;
    font-weight:500;
}

.highlight-text { /*easy-to-make text*/
    font-size: 18px;
    font-weight: bold;
    color: #ff4d4d;
}

.as-seen-in {
    background-color: #ffffff;
    padding:0;
    margin: 0;
}
.as-seen-in h2 { /*this is the text that says as seen in/* */
    font-size: 0.5rem;
    font-weight:200;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
}
.carousel {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    margin:20px 0 0 0; /*this ensures that the logos run till the very end of the screen/**/
    background-color: rgb(255, 255, 255); /* Set the background color to white */
}
.carousel-track {
    display: flex;
    animation: scroll 30s linear infinite;
    width: calc(120px * 20 + 15px * 20); /* Adjust the width to fit all images and margins */
}
.carousel img {
    width: 120px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    margin: 0 15px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Adjust the translateX value to match half the width of the track */
}
/* Pause the animation on hover */
.carousel:hover .carousel-track {
    animation-play-state: paused;
}



.philosophy-text {
    font-size: 14px;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}


.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
